<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="selectUserById" resultType="com.jsoftware.platform.model.User">
        SELECT id
<!--            , pw-->
            , name
            , phone
            , email
        FROM User
        WHERE id = #{id}
    </select>

    <select id="selectAllUsers" resultType="com.jsoftware.platform.model.User">
        SELECT id
<!--             , pw-->
             , name
             , phone
             , email
        FROM User
    </select>

    <insert id="insertUser" parameterType="com.jsoftware.platform.model.User">
        INSERT INTO User (name, phone, email)
        VALUES (#{name}, #{phone}, #{email})
    </insert>

    <update id="updateUser" parameterType="com.jsoftware.platform.model.User">
        UPDATE User
        set name = #{name},
            phone = #{phone},
            email = #{email}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="com.jsoftware.platform.model.User">
        DELETE
        FROM User
        WHERE id = #{id}
    </delete>

<select id="selectHospitalById" resultType="com.jsoftware.platform.model.Hospital">
    SELECT id
    , pw
    , name
    , phone
    , publicPhone
    , email
    FROM hospital
    WHERE id = #{id}
</select>

<select id="selectAllHospitals" resultType="com.jsoftware.platform.model.Hospital">
    SELECT id
    , pw
    , name
    , phone
    , publicPhone
    , email
    FROM hospital
</select>

<insert id="insertHospital" parameterType="com.jsoftware.platform.model.Hospital">
    INSERT INTO hospital (pw, name, phone, publicPhone, email)
    VALUES (#{pw}, #{name}, #{phone}, #{publicPhone}, #{email})
</insert>

<update id="updateHospital" parameterType="com.jsoftware.platform.model.Hospital">
    UPDATE hospital
    set pw = #{pw},
    name = #{name},
    phone = #{phone},
    publicPhone = #{publicPhone},
    email = #{email}
    WHERE id = #{id}
</update>

<delete id="deleteHospital" parameterType="com.jsoftware.platform.model.Hospital">
    DELETE
    FROM hospital
    WHERE id = #{id}
</delete>

<select id="selectCenterById" resultType="com.jsoftware.platform.model.Center">
    SELECT id
    , pw
    , name
    , phone
    , publicPhone
    , email
    FROM center
    WHERE id = #{id}
</select>

<select id="selectAllCenters" resultType="com.jsoftware.platform.model.Center">
    SELECT id
    , pw
    , name
    , phone
    , publicPhone
    , email
    FROM center
</select>

<insert id="insertCenter" parameterType="com.jsoftware.platform.model.Center">
    INSERT INTO center (pw, name, phone, publicPhone, email)
    VALUES (#{pw}, #{name}, #{phone}, #{publicPhone}, #{email})
</insert>

<update id="updateCenter" parameterType="com.jsoftware.platform.model.Center">
    UPDATE center
    set pw = #{pw},
    name = #{name},
    phone = #{phone},
    publicPhone = #{publicPhone},
    email = #{email}
    WHERE id = #{id}
</update>

<delete id="deleteCenter" parameterType="com.jsoftware.platform.model.Center">
    DELETE
    FROM center
    WHERE id = #{id}
</delete>
</mapper>