<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">

    <select id="selectBoardById" parameterType="com.jsoftware.platform.model.Board"
            resultType="com.jsoftware.platform.model.Board">
        SELECT idx
             , title
             , contents
             , image
             , filePath
        FROM board
        WHERE idx = #{idx}
    </select>

    <select id="selectAllBoards" resultType="com.jsoftware.platform.model.Board">
        SELECT idx
             , title
             , contents
             , image
             , filePath
        FROM board
        ORDER BY idx ASC
<!--        DESC 내림차순, ASC 오름차순-->
    </select>

    <insert id="insertBoard" parameterType="com.jsoftware.platform.model.Board">
        INSERT INTO board (title, contents, image, filePath)
        VALUES (#{title}, #{contents}, #{image}, #{filePath})
    </insert>

    <update id="updateBoard" parameterType="com.jsoftware.platform.model.Board">
        UPDATE board
        set title    = #{title},
            contents = #{contents},
            image = #{image},
            filePath = #{filePath}
        WHERE idx = #{idx}
    </update>

    <update id="updatesBoard" parameterType="com.jsoftware.platform.model.Board">
        UPDATE board
        set title    = #{title},
        contents = #{contents},
        image = #{image},
        filePath = #{filePath}
        WHERE idx = #{idx}
    </update>

    <delete id="deleteBoard" parameterType="com.jsoftware.platform.model.Board">
        DELETE
        FROM board
        WHERE idx = #{idx}
    </delete>

    <insert id="addReply">
        INSERT INTO
        reply
        (
        board_idx,
        reply_idx,
        contents
        )
        VALUES
        (
        #{boardIdx},
        #{replyIdx},
        #{contents}
        )
    </insert>
    <select id="getReply" resultType="com.jsoftware.platform.model.Reply">
        SELECT
        idx, board_idx as boardIdx, reply_idx as replyIdx, contents
        FROM
        reply
        WHERE
        board_idx = #{boardIdx}
        order by reply_idx asc
    </select>

</mapper>