<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
    <select id="findByMemberId" resultType="com.jsoftware.platform.model.Member">
        SELECT id
            , memberId
            , memberPwd
            , authType
        FROM member
        WHERE memberId = #{memberId}
    </select>

    <select id="selectAllMembers" resultType="com.jsoftware.platform.model.Member">
        SELECT id
             , memberId
             , memberPwd
             , authType
        FROM member
    </select>

    <insert id="insertMember" parameterType="com.jsoftware.platform.model.Member">
        INSERT INTO member (memberId, memberPwd)
        VALUES (#{memberId}, #{memberPwd})
    </insert>

    <update id="updateMember" parameterType="com.jsoftware.platform.model.Member">
        UPDATE member
        set memberId = #{memberId},
            memberPwd = #{memberPwd},
            authType = #{authType}
        WHERE id = #{id}
    </update>

    <delete id="deleteMember" parameterType="com.jsoftware.platform.model.Member">
        DELETE
        FROM member
        WHERE id = #{id}
    </delete>
</mapper>