<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="selectAllMonthlyPick" resultType="com.jsoftware.platform.model.MonthlyPick">
        SELECT id
             , title
             , img_url
             , contents
        FROM monthlypick
    </select>

    <select id="selectMonthlyPickById" resultType="com.jsoftware.platform.model.MonthlyPick">
        SELECT id
        , title
        , img_url
        , contents
        FROM monthlypick
        WHERE id = #{id}
    </select>

    <insert id="insertMonthlyPick" parameterType="com.jsoftware.platform.model.MonthlyPick">
        INSERT INTO monthlypick (title, img_url, contents)
        VALUES (#{title}, #{img_url}, #{contents})
    </insert>

    <update id="updateMonthlyPick" parameterType="com.jsoftware.platform.model.MonthlyPick">
        UPDATE monthlypick
        SET title = #{title},
        img_url = #{img_url},
        contents = #{contents}
        WHERE id = #{id}
    </update>

    <delete id="deleteMonthlyPick" parameterType="com.jsoftware.platform.model.MonthlyPick">
        DELETE
        FROM monthlypick
        WHERE id = #{id}
    </delete>
</mapper>