<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="selectAllRecommendActivity" resultType="com.jsoftware.platform.model.RecommendActivity">
        SELECT id
             , title
             , contents
        FROM recommend_activity
    </select>
</mapper>