<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="selectAllRecommendActivity" resultType="com.jsoftware.platform.model.RecommendActivity">
        SELECT id
             , title
             , img_url
        FROM recommend_activity
    </select>

    <select id="selectRecommendActivityById" resultType="com.jsoftware.platform.model.RecommendActivity">
        SELECT id
        , title
        , img_url
        FROM recommend_activity
        WHERE id = #{id}
    </select>

    <insert id="insertRecommendActivity" parameterType="com.jsoftware.platform.model.RecommendActivity">
        INSERT INTO recommend_activity (title, img_url)
        VALUES (#{title}, #{img_url})
    </insert>

    <update id="updateRecommendActivity" parameterType="com.jsoftware.platform.model.RecommendActivity">
        UPDATE recommend_activity
        SET title = #{title},
        img_url = #{img_url}
        WHERE id = #{id}
    </update>

    <delete id="deleteRecommendActivity" parameterType="com.jsoftware.platform.model.RecommendActivity">
        DELETE
        FROM recommend_activity
        WHERE id = #{id}
    </delete>
</mapper>