<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="selectAllTodaysHeadline" resultType="com.jsoftware.platform.model.TodaysHeadline">
        SELECT id
             , title
             , img_url
        FROM todaysheadline
    </select>

    <select id="selectTodaysHeadlineById" resultType="com.jsoftware.platform.model.TodaysHeadline">
        SELECT id
        , title
        , img_url
        FROM todaysheadline
        WHERE id = #{id}
    </select>

    <insert id="insertTodaysHeadline" parameterType="com.jsoftware.platform.model.TodaysHeadline">
        INSERT INTO todaysheadline (title, img_url)
        VALUES (#{title}, #{img_url})
    </insert>

    <update id="updateTodaysHeadline" parameterType="com.jsoftware.platform.model.TodaysHeadline">
        UPDATE todaysheadline
        SET title = #{title},
        img_url = #{img_url}
        WHERE id = #{id}
    </update>

    <delete id="deleteTodaysHeadline" parameterType="com.jsoftware.platform.model.TodaysHeadline">
        DELETE
        FROM todaysheadline
        WHERE id = #{id}
    </delete>
</mapper>