<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Thymeleaf 게시판 Contents</h1>

<input id="board_id" type="hidden" th:value="${board?.id}"/>
<div>
    <p>title</p>
    <input id="board_title" type="text" class="form-control input-sm"
           th:value="${board?.title}" style="width: 50%;"/>
</div>
<div>
    <p>contents</p>
<textarea id="board_content" class="form-control input-sm"
          maxlength="140" rows="70" style="width: 50%;height: 200px;"
          th:text="${board?.contents}"></textarea>
</div>
<span class="help-block"></span>
<!-- 저장/수정/삭제 버튼 -->
<div class="pull-right">
    <button class="btn btn-primary" id="insert" th:value="저장">저장</button>
    <button class="btn btn-info" id="update" th:value="수정">수정</button>
    <button class="btn btn-danger" id="delete" th:value="삭제">삭제</button>
</div>

<script>
    // 저장버튼
    $("#insert").click(function () {
        var jsonData = JSON.stringify({
            title: $("#board_title").val(),
            contents: $("#board_content").val()
        });
        $.ajax({
            url: "/board",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "html",
            success: function () {
                alert("저장 성공!");
                location.href = "/board";
            },
            error: function () {
                alert("저장 실패!");
            }
        });
    });
</script>

<!-- 수정/삭제 -->
<script>
    // 수정버튼
    $("#update").click(function () {
        var jsonData = JSON.stringify({
            id: $("#board_id").val(),
            title: $("#board_title").val(),
            contents: $("#board_content").val()
        });
        console.log(jsonData);
        console.log($("#board_id").val());
        $.ajax({
            url: "/board/" + $("#board_id").val(),
            type: "PUT",
            data: jsonData,
            contentType: "application/json",
            dataType: "html",
            success: function () {
                alert("수정 성공!");
                location.href = "/board";
            },
            error: function () {
                alert("수정 실패!");
            }
        });
    });

    // 삭제버튼
    $("#delete").click(function () {
        // console.log(jsonData);
        console.log($("#board_id").val());
        $.ajax({
            url: "/board/" + $("#board_id").val(),
            type: "DELETE",
            success: function () {
                alert("삭제 성공!");
                location.href = "/board";
            },
            error: function () {
                alert("삭제 실패!");
            }
        });
    });
</script>
</body>
</html>