<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<html>
<head>
    <title>Sample page</title>
    <script>
        function webToBio(msg) {
            try { webToBioChange.postMessage(msg); } catch (err) {}
        }
        function webToApple(msg) {
            try { webToAppleChange.postMessage(msg); } catch (err) {}
        }
        function webToGarmin(msg) {
            try { webToGarminChange.postMessage(msg); } catch (err) {}
        }
</script>
</head>
<body>
    <button onclick="webToBio('Bio')"> webToBio</button>
    <button onclick="webToApple('Apple')">webToApple</button>
    <button onclick="webToGarmin('Garmin')">webToGarmin</button>
</body>
</html>